{
  "extends": ["plugin:@wordpress/eslint-plugin/esnext"],
  "env": {
    "browser": true,
    "es2021": true
  },
  "rules": {
    "indent": ["error", 2],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always",
      },
    ],
  },
  "parserOptions": {
    "ecmaVersion": 12
  },
}
