.flex-section {
  .columns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap-width;
    height: 100%;

    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &.count1 {
      .column {
        flex: 0 0 100%;
      }
    }
    &.count2 {
      .column {
        flex: 0 0 50%;
      }
    }
    &.count3 {
      .column {
        flex: 0 0 33.3333%;
      }
    }
    &.count4 {
      .column {
        flex: 0 0 25%;
      }
    }
  }

  &.is-reversed {
    .columns {
      flex-direction: row-reverse;
    }
  }
}