.isotope-gallery-container {
  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 5rem;

    .active {
      background-color: $color__brand_dark;
      color: white;
    }
  }

  .filtr-item {
    position: relative;
    width: 25%;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
  }
}

.js-filterizr-gallery-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;

  &.loaded {
    opacity: 1;
  }
}