.isotope-gallery-container {
  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 5rem;

    .active {
      background-color: $color__brand_dark;
      color: white;
    }
  }

  .isotope-grid {
    width: 100%;
  }

  .isotope-grid-item {
    float: left;
    width: 28rem;
    padding: 1rem;

  }

  .grid-sizer {
    width: 20%;
  }
}