.flex-section.images-marquee {
  --animation-speed: 20s;
  
  .container {
    position: relative;
    overflow: hidden;

    &:before,
    &:after {
      content: "";
      position: absolute;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 15rem;
      height: 100%;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 1), transparent);
    }
    &:after {
      left: auto;
      right: 0;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 1), transparent);
    }
  }

  /* Full Screen Width */
  &.wide-width {
    .container {
      max-width: 100%;
    }
  }

  .marquee {
      max-width: 100%;
      margin: 0 auto;
      overflow: hidden;
    }
    
  .logos-wrapper {
    width: fit-content; /* makes the wrapper to be exactly the size of the children */
    display: flex;
    position: relative;

    &.animate {
      transform: translate3d(0%, 0, 0);
      animation: marquee 10s linear infinite;
      animation-play-state: running;
    }

    /* Pause animation when reduced-motion is set */
    @media (prefers-reduced-motion: reduce) {
      &.animate {
        animation-play-state: paused !important;
      }
    }
  }
  
  .marquee:hover .logos-wrapper {
    animation-play-state: paused;
    transition-duration: 0.8s;
  }
  
  .logos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

  
    li {
      display: flex;
      align-items: center;
      padding: 0 1rem;
      width: 10rem; /* depending logo size differences, this needs to be tweaked */
    }
  
    img {
      max-height: 7rem; /* depending logo size differences, this needs to be tweaked */
      filter: grayscale(100%);
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
  
      &:hover {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }

  @keyframes marquee {
    0% {
      transform: translate3d(0%, 0, 0);
    }

    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }

  /* Reverse animation */
  &.is-reversed {
    .logos-wrapper.animate {
      animation: scroll-reverse var(--animation-speed) linear infinite;
      animation-direction: reverse;
    }
    .marquee:hover .logos-wrapper {
      animation-play-state: paused;
      transition-duration: 0.8s;
    }
  }

  @keyframes scroll-reverse {
    0% {
        transform: translate3d(50%, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
  }
}