button, .button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.25;
  padding: calc(1rem - 1px) calc(3rem - 1px);
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(0.95);
    box-shadow: $color__drop-shadow;
  }

  &.primary {
    background-color: $color__brand_dark;
    border-color: $color__brand_dark;
    color: $color__text-dark-background;
  }
  &.secondary {
    background-color: $color__brand_highlight;
    border-color: $color__brand_highlight;
    color: $color__brand_very-dark !important;
  }
  &.inverted {
    background-color: transparent;
    border-color: $color__brand_dark;
    color: $color__brand_dark;
  }
}

.is-dark button, 
.is-dark  .button {
  &.inverted {
    background-color: transparent;
    border-color: $color__background-body;
    color: $color__background-body;
  }
}