.page-section.alert-bar {
  color: $color__text-main;

  &.is-dark {
    color: $color__text-dark-background;
  }

  .container {
    display: flex;
    justify-content: center;
    padding: $small-padding;
  }

  p {
    margin: 0;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
  }
}