.page-section.banner {
  height: 30rem;
  z-index: 1;

  .container {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .text {
    position: relative;
    width: 100%;
    max-width: 80rem;
    padding: $default-padding;
    margin: auto 0 0;

    // fadein animation for h1
    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    h1 {
      line-height: 1;
      margin-bottom: 1rem;
      opacity: 1;
      animation: fadein 2s ease-in-out;
    }
  }

  &.has-background-image {
    .text {
      @include glass($color__brand_very-dark);
    }
    &.has-light-screen,
    &.has-dark-screen {
      .text {
        background: none;
        box-shadow: none;
        backdrop-filter: none;
      }
    }
  }
}
