.page-section.flip-cards {
  background-position: center;
  background-repeat: no-repeat;

  .container {
    flex-direction: column;
  }

  h2,
  .sub-title,
  .sub-title + .prose {
    text-align: center;
  }
}

.flip-cards-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: $default-padding;

  li {
    width: 30rem;
    height: 36rem;
  }

  
  &.items2, &.items4 {
    max-width: 100rem;

    @media (max-width: $tablet-width-portrait) {
      width: 100%;
    }

    li {
      width: 40rem;
      height: 55rem;

      @media (max-width: 600px) {
        width: 36rem;
      }
    }
  }

  .flip-card-wrapper {
    background-color: transparent;
    height: 100%;
    width: 100%;
    perspective: 1000px;
  }

  .flip-card, 
  .flip-card-back {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: $default-padding;
    background-color: $color__background-body;
    border: 1px solid $color__border;
    color: $color__text-main;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.8s;
    transform-style: preserve-3d;
   
    .flip-icon {
      position: absolute;
      top: 1rem;
      right: 1rem;

      svg {
        stroke: $color__brand_very-light;
      }
    }

    h3 {
      font-size: 22px;
    }

    p {
      font-size: 18px;
      margin-top: 0;
    }

    .icon {
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 5px;
    }

    svg {
      width: 4rem;
      height: 4rem;

      g, path {
        fill: #fff;
      }
    }
  }

  .flip-card-back {
    background-color: $color__brand_very-dark;
    transform: rotateY(180deg);
    
    p {
      color: $color__text-dark-background;
    }
  }
  .flip-card-wrapper.flip .flip-card {
    transform: rotateY(180deg);
  }
  
  .flip-card-wrapper.flip .flip-card-back {
    transform: rotateY(0deg);
  }
}