

.page-section.hero-slider {
  // .page-section has position: relative

  $small-screen-slider-height: 360px;
  $tablet-slider-height: 500px;
  $slider-height: 680px;
  $mobile-width: 768px;

  .hero-slider-list {
    position: relative;
    height: $slider-height;
    width: 100%;
    overflow: hidden;

    @media only screen and (max-width: 1170px) {
      height: $tablet-slider-height;
    }

    @media only screen and (max-width: 768px) {
      height: $small-screen-slider-height;
    }
  }

  .hero-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    // all slides are translated off the viewport 
    transform: translateZ(0); // hack to trigger hardware acceleration for smoother and more efficient animations
    transform: translateX(100%);
    will-change: transform;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &.is-selected {
      // when a slide is selected, it is translated back to 0 so it becomes visible
      transform: translateX(0);
    }

    .media-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.5);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &.has-dark-screen:after {
        background-color: rgba(0, 0, 0, 0.7);
      }
      &.has-light-screen:after {
        background-color: rgba(255, 255, 255, 0.7);
      }
    }

    .container {
      height: 100%;
      display: flex;
      justify-content: center;
    }

    &.is-reverse {
      .container {
        flex-direction: row-reverse;
      }
    }

    .hero-content {
      height: 100%;
      padding: $default-padding;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      * {
        text-align: center;
        margin: 0;
      }

      .text-subtitle {
        margin-bottom: 1rem;
      }

      .ctas-container {
        margin-top: 3rem;
      }

      // all content is translates by 100px on the x-axis to the right to facilitate a slide-in effect
      * {
        opacity: 0;
        transform: translateX(10rem);
      }
      
      &.is-half-width {
        flex: 0 0 50%; 
      }
      
      &.is-full-width {
        flex: 0 0 100%;
      }
    }

    // slide animations
    // animations are triggered by the classes is-selected and is-moving
    // is-moving moves the slide outside the viewport
    // is-selected moves the slide inside the viewport
    &.is-moving,
    &.is-selected {
      transition: transform 0.5s;
    }

    &.is-moving {
      // this is the slide moving outside the viewport 
      // wait for the end of the transition on the <li> parent before set opacity 
      // to 0 and translate to 40px/-40px 
      transform: translateX(-100%);

      * {
        transition: opacity 0s 0.5s, transform 0s 0.5s;
      }
    }

    // slide animations are triggered by the classes is-selected and is-moving
    &.is-selected {
      .hero-content {
        * {
          opacity: 1;
          transform: translateX(0);
        }
    
        h1 {
          transition: transform 0.5s 0.2s, opacity 0.5s ease-in-out 0.2s;
        }
        p {
          transition: transform 0.5s 0.3s, opacity 0.5s ease-in-out 0.3s;
        }
        .ctas-container, img {
          transition: transform 0.5s 0.4s, opacity 0.5s ease-in-out 0.4s;
        }
      }
    }
  }

  @media only screen and (max-width: $mobile-width) {
    .hero-content.has-image {
      /* hide image on mobile device */
      display: none;
    }
  }
}


/* Slider navigation */
.hero-nav {
  $slider-nav-height: 80px;
  $slider-nav-color: #fff;
  $slider-nav-background-color: rgba(0,0,0, 0.5);
  $slider-nav-item-width: 120px;
  $slider-nav-item-hover-color: rgba(255,255,255, 0.3);
  $slider-nav-item-is-selected-color: yellow;
  $slider-nav-item-is-selected-background-color: rgba(255,255,255, 0.5);

  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  height: $slider-nav-height;
  background-color: $slider-nav-background-color;

  ul {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  li {
    flex: 0 0 $slider-nav-item-width;
    margin: 0;
  }

  a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: $slider-nav-color;
    transition: all 1s;

    &:hover {
      background-color: $slider-nav-item-hover-color;
    }
  }

  .is-selected a {
    background-color: $slider-nav-item-is-selected-background-color;
    color: $slider-nav-item-is-selected-color;

    &:hover {
      pointer-events: none;
      cursor: default;
    }
  }

}




