.page-section.image-comparison {
  $handle-size: 44px;

  padding: 0 $default-padding;

  .image-comparison-container {
    position: relative;
    max-width: $tablet-width-landscape;
    margin: 0 auto;
  }

  .image-status {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    padding: 1em;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;

    &.is-hidden {
      visibility: hidden;
    }
  }

  .is-visible .image-status {
    opacity: 1;
    transform: translateY(0);
  }

  .after-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    // backface-visibility: hidden; and transform: translateZ(0); is used to
    // create a new stacking context, which can help to improve the performance
    // of CSS animations and transitions.
    transform: translateZ(0);
    backface-visibility: hidden;
    
    img {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      height: 100%;
      width: auto;
      max-width: none;
    }

    .image-status {
      right: auto;
      left: 0;
    }
  }
  
  .is-visible .after-image {
    width: 50%;
    animation: show-after 0.5s;
  }

  .comparison-handle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $handle-size;
    width: $handle-size;
    left: calc(50% - $handle-size / 2);
    top: calc(50% - $handle-size / 2);
    border-radius: 50%;
    @include glass($color__glass);
    cursor: move;
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);

    &.is-dragged {
      @include glass($color__brand_highlight);
    }

    svg {
      width: 3rem;
      height: 3rem;
    }
  }
  
  .is-visible .comparison-handle {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
    transition: transform 0.3s 0.7s, opacity 0s 0.7s;
  }

}

@keyframes show-after {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
