.page-section.media {
  .container {
    container: media / inline-size;
  }

  .image {
    flex: 0 0 50%;

    img {
      display: block;
    }
  }

  .text {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-right: $default-padding;
    // force the text to the right when no image is present
    // with image present, both image and text use 50% of the space
    // and margin-left doesn't do anything
    margin-left: auto;

    .text-title,
    .text-subtitle,
    .text-prose {
      margin: 0;
    }
     
    .text-prose {
      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }

    .ctas-container {
      margin-top: 4rem;
    }
  }

  &.is-reversed {
    .container {
      justify-content: flex-end;
    }
    .text {
      padding-left: $default-padding;
      // image needs to be on the left when reversed
      margin-left: 0; 
    } 
  }

  &.has-background-image {
    .text {
      @include glass($color__brand_very-light);
      padding: 2rem;
    }

    &.has-light-screen {
      .text {
        @include glass($color__brand_very-light);
        padding: 2rem;
      }
    }
    &.has-dark-screen {
      .text {
        @include glass($color__brand_very-light);
        padding: 2rem;
      }
    }
  }

  @container media (max-width: #{$tablet-width-portrait}) {
    .media-wrapper .media {
      flex-direction: column-reverse;

      .image {
        padding-bottom: 3rem;
      }
    }  
  }
  &.is-dark .cta {
    color: $color__text-dark-background;
  }
}