/* Getting complementary colors from 
 * https://www.color-hex.com/color/015697 and 
 * https://www.color-hex.com/color/fdb034 
 */

$color__background-body: #fff;
$color__background-header: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;


$color__text-screen: #00080f;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #974201; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #00080f;
$color__text-dark-background: #fff;

$color__border: #ccc;

$color__brand_dark: #3f2787;
$color__brand_very-dark: #0d081c;
$color__brand_very-light: #f1eefa;
$color__brand_highlight: #c0d878;
$color__brand_highlight-light: #dce9b3;
$color__glass: #fff;

$color__drop-shadow: 0px 5px 10px 2px rgba(0,0,0,0.2);
